<!-- Post -->
<article #article class="relative w-full flex gap-4">
  <div
    [routerLink]="['/', user.email]"
    class="flex justify-between items-center gap-2 w-full py-2 px-4 cursor-pointer hover:bg-gray-400/50"
  >
    <div class="flex items-start gap-2">
      <img
        class="w-12 h-12 rounded-sm"
        src="{{ user.profilePic }}"
        alt="{{ user.firstName | titlecase }} {{ user.lastName | titlecase }}"
      />

      <p class="m-0 font-bold">
        {{ user.firstName | titlecase }}
        {{ user.lastName | titlecase }}
      </p>
    </div>

    <!-- Follow Button -->
    <button
      class="p-0 cursor-pointer hover:border-b"
      [style.color]="theme.linkPrimary"
      [style.borderColor]="theme.linkPrimary"
      *ngIf="
        !baseUser.following.has(user.userId) && user.userId !== baseUser.userId
      "
      (click)="follow(user.userId)"
    >
      Follow
    </button>
  </div>
</article>
