<div
  class="fixed w-screen h-screen z-20"
  [style.background]="theme.background"
></div>
<main class="relative flex justify-center items-center h-screen z-30">
  <ul
    class="flex justify-center items-center gap-4"
    appClickedOutside
    (clickedOutside)="closePage()"
  >
    <li
      *ngFor="let style of newPostStyles"
      routerLink="{{ style.url }}"
      class="flex flex-col items-center justify-center gap-2 cursor-pointer"
    >
      <div
        class="relative flex justify-center items-center w-28 h-28 rounded-full"
        [style.background]="style.color"
      >
        <mat-icon class="w-absolute w-auto h-auto text-5xl">
          {{ style.matIcon }}
        </mat-icon>
      </div>

      <p class="m-0" [style.color]="theme.textPrimary">
        {{ style.title }}
      </p>
    </li>
  </ul>
</main>
