<!-- Content -->
<main class="flex justify-center items-stretch min-h-screen mt-8 mx-auto">
  <!-- Main Column -->
  <main
    class="flex flex-col border-r-[1px] border-neutral-100 p-4"
    [className]="
      viewType === 'grid'
        ? 'flex flex-col border-r-[1px] border-neutral-100 p-4'
        : 'flex flex-col shrink basis-[654px] min-h-screen border-r-[1px] border-neutral-100 p-4 '
    "
  >
    <!-- Explore Header -->
    <header
      class="flex justify-between items-center mb-4 border-b-[1px] border-neutral-100"
    >
      <!-- Filter Posts Tab -->
      <ul class="flex items-center">
        <li class="p-4 font-bold hover:bg-gray-400/50 active:border-b-2">
          Today
        </li>
        <li class="p-4 font-bold hover:bg-gray-400/50 active:border-b-2">
          Trending
        </li>
        <li class="p-4 font-bold hover:bg-gray-400/50 active:border-b-2">
          Staff Picks
        </li>
        <li class="p-4 font-bold hover:bg-gray-400/50 active:border-b-2">
          Answer Time
        </li>
        <li class="p-4 font-bold hover:bg-gray-400/50 active:border-b-2">
          More
          <ul class="hidden">
            <li>Text</li>
            <li>Photos</li>
            <li>GIFs</li>
            <li>Quotes</li>
            <li>Chats</li>
            <li>Audio</li>
            <li>Videos</li>
            <li>Asks</li>
          </ul>
        </li>
      </ul>

      <!-- View Type Tab -->
      <ul class="flex justify-center items-start gap-2">
        <li
          class="font-bold cursor-pointer"
          [style.color]="
            viewType === 'grid' ? theme.textSecondary : theme.textPrimary
          "
          (click)="toggleView('list')"
        >
          <mat-icon>list</mat-icon>
        </li>
        <li
          class="font-bold cursor-pointer"
          [style.color]="
            viewType === 'grid' ? theme.textPrimary : theme.textSecondary
          "
          (click)="toggleView('grid')"
        >
          <mat-icon>grid_view</mat-icon>
        </li>
      </ul>
    </header>

    <!-- Posts -->
    <div
      [className]="
        viewType === 'grid'
          ? 'flex flex-col shrink basis-[625px] xl:grid xl:justify-items-center xl:grid-cols-2 2xl:grid-cols-3 3xl:grid-cols-4 xl:gap-x-2'
          : ''
      "
    >
      <app-post
        class=""
        [className]="
          viewType === 'grid' ? 'max-w-[625px]  xl:min-w-0 xl:w-80' : ''
        "
        *ngFor="let post of posts | sort : 'createdAt'"
        [post]="post"
      ></app-post>
    </div>
  </main>

  <!-- Side Bar -->
  <app-side-column
    class="hidden lg:inline-flex w-[315px] min-h-screen"
  ></app-side-column>
</main>
